@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Nishanth</h3>
    <p>building Web apps with ASP.NET Core.</p>

</div>

<div>
    <h3>New Commit </h3>
    <input type="text" value=Name />
    <input type="text" value=Ph no />
    <input type="text" value=Email />
    <input type="text" value=password />
</div>